body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

.container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}

.container h1 {
  margin-top: 200px;
}  

header  {
    height: 300px;
    width: 100%;
    text-align: center;
}

nav {
    width: 100%;
    height: 50px;
    background:  rgb(87, 87, 87);
    color: rgb(211, 211, 211);
}
.navText    {
    color: rgb(211, 211, 211);
}

.fixed-nav {
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0px;
    z-index: 0;
  }



header h1 {
    margin: 0;
    padding-top: 120px;
}