body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

.container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}

.container h1 {
  margin-top: 200px;
}  



header  {
    height: 300px;
    width: 100%;
    text-align: center;
}

.background {
    max-width:1000px;
    height: 300px;
    margin: 0 auto;
    background-position: center bottom;
    background-image: url(http://www.combatcamera.forces.gc.ca/gallery/CC_photos/detail/api/v1/asset/55515/preview);
    background-size: cover;
    
      
  }

nav {
    max-width: 100%;
    height: 50px;
    opacity: 0.8;
    color: rgb(211, 211, 211);
    margin: auto;
    align-content: center;

}
.navText    {
    color: rgb(211, 211, 211);
}


.fixed-nav {
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0px;
    z-index: 0;
    
  }

.more-margin    {
    margin-top: 50px;
}



header h1 {
    margin: 0;
    padding-top: 120px;
    color: white;
    align-content: center;
}
p   {
    max-width: 100vw;
    padding-right: 50px;
    padding-left:20px;
    text-align: justify;
}

.project-container {
    display: flex;
}
.text-center    {
    margin: auto;
}

#project    {
    margin: auto;
    min-width: 50%;
}

iframe  {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    min-height: 200px;
    justify-content: center;
}

.caption-text    {
    text-align: center;
}

